@import "https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&family=Kablammo&family=League+Gothic&family=Pinyon+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";


/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Headers ===== */

header {
  padding: 2rem;
  gap: 1rem;
  background-color: #000000;
  justify-content: space-between;
}

/* ===== El titulo de cada pagina se va a ver asi ===== */
h1 {
  font-size: 2rem;
  font-style: oblique;
  color: red;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

/* ===== Aca defino la img solamente del logo en cada pagina ===== */
.logo {
  width: 700px;
  height: auto;
}

/* ===== Esto es de la barra de navegación (Nav) ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  align-items: bottom;


}

nav ul li a {
  color: #FF0000;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;

}


/* ===== Estilado del footer ===== */
footer {
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: #000000;
  justify-content: space-between;
  color: #FF0000;
}

/* ===== copio el estilo de las letras del header ===== */
footer ul li a {
  color: #FF0000;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}


/* ===== Body ===== */

body {
margin: 0;
font-family: "Roboto", sans-serif;
font-weight: 300;
}

h2 {
  margin-bottom: 2rem;
}

/* ===== Estilo la section inicio ===== */
.inicio {
  padding: 4rem 2rem;

}

.nosotros {
  margin-top: 1rem;
}


/* ===== contenedor de las imagenes de la section inicio ===== */
.div {
  display: flex;
  border: 8px solid red;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.imagenesIndex {
 max-width: 50rem;
 background-color: aqua;
 padding: 4rem 2rem;

}

.imagenesIndex img {
  width: 90%;

}

